@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

.map {
  position: absolute;

  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  .floor {
    width: calc(100% - 300px);
    height: 100%;
    position: absolute;
    right: 0;
  }
  .mapControls {
    z-index: 100;
    position: absolute;
    right: 30px;
    bottom: 124px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .zoomButtonsBox,
    .resetButtonBox {
      margin-top: 48px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .buttonsItem {
        border: none;
        padding: 10px;

        background: #ffffff;

        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
        border-radius: 6px;

        .btnIconPlus,
        .btnIconMinus,
        .btnIconReset {
          width: 24px;
          height: 24px;
        }
        .btnIconPlus {
          background: url(../../img/plus.svg);
        }
        .btnIconMinus {
          background: url(../../img/minus.svg);
        }
        .btnIconReset {
          background: url(../../img/reset.svg);
        }
      }
      .buttonsItem:active {
        font-size: 24px;
      }
    }
    .zoomButtonsBox {
      gap: 12px;
    }
  }

  .sideMenu {
    box-sizing: border-box;

    position: absolute;
    width: 300px;
    height: 850px;
    left: 0px;
    top: 0px;
    background: #ffffff;
    border-right: 1px solid #f2f2f2;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 30px;
    height: 100%;

    .title {
      margin-bottom: 20px;
      margin-top: 40px;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #333333;
    }

    .regionsList {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: start;
      align-content: flex-start;
      justify-content: flex-start;
      padding: 0px;
      gap: 12px;
      width: 240px;
      height: 300px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 4px;
        background: #f2f2f2;
      }
      &::-webkit-scrollbar-thumb {
        background: #b3b3b3;
        border-radius: 6px;
      }
      .regionsListItem {
        display: flex;
        flex-direction: column;
        max-width: calc(100% - 10px);
        align-items: flex-start;
        padding: 10px 16px;
        background: #e6effb;
        border-radius: 6px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #333333;
        flex: none;
        order: 0;
        flex-grow: 0;
        cursor: pointer;
        &.active {
          background: #035dd8;
          color: #ffffff;
        }
      }
    }

    .regionWorkloadContainer {
      .title {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #333333;
      }
      .description {
        margin-top: 8px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #333333;
      }
      .workloadBar {
        width: 200px;
        background: #f2f2f2;
        border-radius: 6px;

        .ant-progress-bg {
          border-radius: 6px;
        }
      }
    }
    .floorButtonsBox {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 10px;

      .buttonsItem {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 16px;

        width: 42px;
        height: 40px;

        background: #e6effb;
        border-radius: 6px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #333333;

        flex: none;
        order: 0;
        flex-grow: 0;
        &.active {
          background: #035dd8;
          color: #ffffff;
        }
      }
    }
  }
}
